<div class="to">
    <div class="form">
        <h2>Trang Đăng Ký</h2>
        <i class="fab fa-app-store-ios"></i>
        <label style="margin-left: -150px;">Họ và tên</label>
        <input type="text" name="hoten">
        <label>Số điện thoại</label>
        <input type="text" name="sdt">    
        <label style="margin-left: -180px;">Email</label>
        <input type="text" name="email"> 
        <label style="margin-left: -180px;">Mật Khẩu</label>
        <input type="password" name="Mật Khẩu">
        <input id="submit" type="submit" name="submit" value="Đăng Ký">
    </div>                
</div>