<div class="card">
    <form class="text-center border border-light p-5" >
    
            <p class="h3 mb-4" onclick="long();">Đăng Nhập</p>
        
            <!-- Email -->
            <input type="email" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="E-mail">
        
            <!-- Password -->
            <input type="password" id="defaultLoginFormPassword" class="form-control mb-4" placeholder="Password">
        
            <div class="d-flex justify-content-around">
                <div>
                    <!-- Remember me -->
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="defaultLoginFormRemember">
                        <label class="custom-control-label" for="defaultLoginFormRemember">Ghi Nhớ</label>
                    </div>
                </div>
                <div>
                    <!-- Forgot password -->
                    <a href="">Quên mật khẩu?</a>
                </div>
            </div>
        
            <!-- Sign in button -->
            <button class="btn btn-info btn-block my-4" type="submit">Sign in</button>
        
            <!-- Register -->
            <p>Ko phải thành viên?
                <a href="">Register</a>
            </p>

        </form>
    </div>
    