  
<div class="card" style="width: 40rem;margin: 0 auto; margin-top: 10px ">
    <div class="card-header" style="text-align: center">
        Đổi Mật Khẩu
    </div>
    <div class="card-body">
        <form action="/action_page.php">

            <div class="form-group">
                <label for="password"> Mật khẩu cũ :</label>
                <input type="password" class="form-control" id="pwd">
            </div>
            <div class="form-group">
                <label for="password"> Mật Khẩu mới :</label>
                <input type="password" class="form-control" id="pwd">
            </div>
            <div class="form-group">
                <label for="password">đổi mật khẩu :</label>
                <input type="password" class="form-control" id="pwd">
            </div>

            <button type="submit" class="btn btn-primary">Hoàn Thành</button>
        </form>
    </div>
</div>